---
import Terminal from "@/components/terminal"
import MainLayout from "@/layouts/main-layout.astro"
---

<MainLayout title="adjsky@192:~">
  <Terminal client:load />
  <div class="pointer-events-none fixed inset-0 select-none bg-white"></div>
</MainLayout>
