---
import CoolLink from "./CoolLink.astro"
---

<footer
  class="max-w-screen-xl mx-auto px-5 py-10 sm:py-20 text-base sm:text-xl text-center sm:text-left"
>
  <address class="not-italic">
    <span>contact:</span>
    <CoolLink href="mailto:infiernodelotroel@gmail.com">
      infiernodelotroel@gmail.com
    </CoolLink>
  </address>
  <CoolLink href="https://github.com/adjsky/website"
    >view website source
  </CoolLink>
</footer>
