---
import { AiFillGithub } from "react-icons/ai/index.js"
---

<header
  class="mx-auto pb-16 pt-8 sm:py-16 px-5 max-w-screen-xl flex justify-between items-center"
>
  <a href="#" class="group text-3xl sm:text-4xl flex">
    <span
      class="inline-block text-blue group-hover:rotate-180 group-hover:translate-y-2 transition-all"
    >
      @
    </span>
    <span>adjsky</span>
  </a>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/adjsky">
          <AiFillGithub className="text-4xl hover:fill-accent transition" />
        </a>
      </li>
    </ul>
  </nav>
</header>
