---
import "@fontsource/source-code-pro"
import "@fontsource/noto-sans"

const { title } = Astro.props
---

<html class="h-full">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="h-full font-sans">
    <slot />
  </body>
</html>
