---
import Header from "@/components/header.astro"
import Footer from "@/components/footer.astro"

const { title } = Astro.props
---

<html class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
