---
import Header from "@/components/header.astro"
import Footer from "@/components/footer.astro"
import "@fontsource/source-code-pro"

const { title } = Astro.props
---

<html class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-black text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
